<!DOCTYPE html>
<html>
<head>
    <title>А нет приглашения О_о</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="invite_card">
        <p style="margin-top: 20px;font-weight: bold; color: #213269;font-size: 45px;font-family: Arial,sans-serif">А НЕТ ПРИГЛАШЕНИЯ О_О</p>
        <p style="margin-top: 100px"><b>Если ты это видишь, то не нужно открывать пустые страницы и не играйся с UUID.
            Они слишком уникальны, общее количество комбинаций - 3,4 × 10<sup>38</sup>. Это означает,
            что генерируя 1 триллион ключей каждую наносекунду, перебрать все возможные
            значения удастся лишь за 10 миллиардов лет.</b></p>
    </div>
</body>
</html>