<!DOCTYPE html>
<html>
<head>
    <title>Спасибо!</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="invite_card">
        <p style="margin-top: 20px;font-weight: bold; color: #213269;font-size: 60px;font-family: Arial,sans-serif">СПАСИБО!</p>
        <p>Тебя учли как участника в терракте. Благодарим за сотрудничество. Твои паспортные и прочие данные были успешно отправлены в АНБ. Муа-ха-ха!</p>
    </div>
</body>
</html>